$icomoon-font-family: "commandowl" !default;
$icomoon-font-path: "../fonts" !default;

$icon-plus: "\f067";
$icon-pencil: "\f040";
$icon-plus-circle: "\f055";
$icon-plus-square: "\f0fe";
$icon-plus-square-o: "\f196";

