$icomoon-font-family: "commandowl" !default;
$icomoon-font-path: "../fonts" !default;

$icon-chevron-up: "\e901";
$icon-chevron-down: "\e900";
$icon-plus: "\f067";
$icon-search: "\f002";
$icon-remove: "\f00d";
$icon-pencil: "\f040";